<template>
    <mdb-modal :show="form.active" @close="form.active = false">
        <mdb-modal-header class="text-center">
            <mdb-modal-title tag="h4" bold class="w-100">
                {{ form.data._id === null ? 'New Client' : 'Edit Client' }}
            </mdb-modal-title>
        </mdb-modal-header>
        <form @submit="submitForm()">
            <mdb-modal-body class="mx-3 grey-text">
                <mdb-input v-model="formName" label="Name" icon="user" class="mb-5" required min="2"/>
                <small class="text-danger">{{ form.error.name }}</small>
                <mdb-input v-model="formEmail" label="Email" icon="envelope" type="email" class="mb-5" required/>
                <small class="text-danger">{{ form.error.email }}</small>
                <mdb-input v-model="formPhone" label="Phone" icon="phone-volume" class="mb-5" required/>
                <small class="text-danger">{{ form.error.phone }}</small>
                <mdb-modal-title tag="h4" bold class="w-100">
                    Select Providers
                </mdb-modal-title>
                <providers-form/>
            </mdb-modal-body>
            <mdb-modal-footer center>
                <div v-if="form.loading" class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <mdb-btn v-else color="unique">Save</mdb-btn>
            </mdb-modal-footer>
        </form>
    </mdb-modal>
</template>

<script>
    import ProvidersForm from '@/components/providers/Form'
    import {mapState, mapActions, mapMutations} from 'vuex'

    import {
        mdbBtn,
        mdbTbl,
        mdbTblHead,
        mdbTblBody,
        mdbModal,
        mdbModalHeader,
        mdbModalTitle,
        mdbModalBody,
        mdbInput,
        mdbModalFooter
    } from 'mdbvue'

    export default {
        name: 'Form',
        components: {
            mdbBtn,
            mdbTbl,
            mdbTblHead,
            mdbTblBody,
            mdbModal,
            mdbModalHeader,
            mdbModalTitle,
            mdbModalBody,
            mdbInput,
            mdbModalFooter,

            ProvidersForm
        },
        computed: {
            ...mapState({
                providers: state => state.providers.all,
                providerForms: state => state.providers.forms,
                form: state => state.clients.form,
            }),
            formName: {
                get() {
                    return this.form.data.name
                },
                set(value) {
                    this.mutationSetFormName(value)
                }
            },
            formEmail: {
                get() {
                    return this.form.data.email
                },
                set(value) {
                    this.mutationSetFormEmail(value)
                }
            },
            formPhone: {
                get() {
                    return this.form.data.phone
                },
                set(value) {
                    this.mutationSetFormPhone(value)
                }
            }
        },
        methods: {
            ...mapActions({
                actionSubmitForm: 'clients/submitForm',
            }),
            ...mapMutations({
                mutationSetFormName: 'clients/setFormName',
                mutationSetFormEmail: 'clients/setFormEmail',
                mutationSetFormPhone: 'clients/setFormPhone',
            }),
            /**
             * Actions after form submit
             */
            submitForm() {
                if (this.providerForms.length > 0) {
                    for (let provider of this.providerForms) {
                        if (provider.actions.edit.active) {
                            alert('Please, save providers first.')
                            return
                        }
                    }
                }
                this.actionSubmitForm()
            },
        }
    }
</script>
