<template>
    <div>
        <h1>Clients List</h1>
        <div class="d-flex justify-content-end">
            <mdb-btn color="success" @click="mutationActivateClientForm()">
                <mdb-icon icon="plus-square"></mdb-icon>
                &nbsp;&nbsp;New Client
            </mdb-btn>
        </div>
        <mdb-tbl striped>
            <mdb-tbl-head>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Providers</th>
                    <th></th>
                    <th></th>
                </tr>
            </mdb-tbl-head>
            <mdb-tbl-body>
                <tr v-for="client in clients" :key="client._id">
                    <td class="align-middle">{{ client.name }}</td>
                    <td class="align-middle">{{ client.email }}</td>
                    <td class="align-middle">{{ client.phone }}</td>
                    <td class="align-middle">{{ listProvidersNames(client) }}</td>
                    <td class="align-middle">
                        <mdb-btn size="sm" @click="mutationActivateClientForm(client)">
                            <mdb-icon icon="edit"></mdb-icon>
                            &nbsp;&nbsp;Edit
                        </mdb-btn>
                    </td>
                    <td class="align-middle">
                        <mdb-btn size="sm" @click="deleteClient(client)" color="danger">
                            <mdb-icon icon="trash-alt"></mdb-icon>
                            &nbsp;&nbsp;Delete
                        </mdb-btn>
                    </td>
                </tr>
                <tr v-if="!clients.length">
                    <td colspan="6">No clients yet</td>
                </tr>
            </mdb-tbl-body>
        </mdb-tbl>
        <client-form/>
    </div>
</template>

<script>
    import {mapState, mapMutations, mapActions} from 'vuex'
    import ClientForm from '@/components/clients/Form'

    import {
        mdbBtn,
        mdbIcon,
        mdbTbl,
        mdbTblHead,
        mdbTblBody,
        mdbInput,
    } from 'mdbvue'

    export default {
        name: 'ClientsList',
        components: {
            mdbBtn,
            mdbIcon,
            mdbTbl,
            mdbTblHead,
            mdbTblBody,
            mdbInput,
            ClientForm
        },
        computed: mapState({
            clients: state => state.clients.all,
            providers: state => state.providers.all,
        }),
        async created() {
            this.actionLoadClients()
            this.actionLoadProviders()
        },
        methods: {
            ...mapMutations({
                mutationActivateClientForm: 'clients/activateClientForm'
            }),
            ...mapActions({
                actionLoadClients: 'clients/loadAll',
                actionLoadProviders: 'providers/loadAll',
                actionDeleteClient: 'clients/deleteClient',
            }),
            /**
             * Get providers names of client
             * @param {Object} client
             * @returns {string}
             */
            listProvidersNames(client) {
                return client.providers
                    .map(({_id}) => {
                        for (let provider of this.providers) {
                            if (provider._id === _id) {
                                return provider.name
                            }
                        }
                        return ''
                    })
                    .filter(name => !!name)
                    .join(', ')
            },
            /**
             * Delete client
             * @param {Object} client
             * @returns {Promise<void>}
             */
            async deleteClient(client) {
                if (confirm(`Do you want to delete client "${client.name}"?`)) {
                    this.actionDeleteClient(client)
                }
            },
        }
    }
</script>
