<template>
    <div>
        <div class="d-flex justify-content-end">
            <mdb-btn color="success" size="sm" type="button" @click="mutationAddToProviderForm()">
                <mdb-icon icon="plus-square"></mdb-icon>
                &nbsp;&nbsp;Add Provider
            </mdb-btn>
        </div>
        <mdb-tbl>
            <mdb-tbl-body>
                <tr v-for="(provider, i) in providerForms" :key="provider._id">
                    <td class="align-middle">
                        <div v-if="provider._id !== null" class="custom-control custom-checkbox">
                            <input type="checkbox"
                                   :id="'providerCheckbox' + provider._id"
                                   :checked="isProviderChecked(provider)"
                                   @click="mutationToggleProviderInForm(provider)"
                            >
                        </div>
                    </td>
                    <td class="align-middle">
                        <template v-if="provider.actions.edit.active">
                            <mdb-input :value="provider.name" @input="name => mutationSetFormName({form_index: i, name})" label="Provider name" class="mb-5"/>
                            <small class="text-danger">{{ provider.error.name }}</small>
                        </template>
                        <template v-else>
                            {{ provider.name }}
                        </template>
                    </td>
                    <td class="align-middle" style="width: 100px">
                        <template v-if="provider.actions.edit.active">
                            <div v-if="provider.actions.edit.loading" class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <mdb-row v-else>
                                <mdb-col>
                                    <a href="javascript:" title="Save provider" @click="actionSubmitProvider(i)">
                                        <mdb-icon icon="save"></mdb-icon>
                                    </a>
                                </mdb-col>
                                <mdb-col>
                                    <a href="javascript:" title="Cancel edit" @click="mutationCancelForm(i)">
                                        <mdb-icon icon="times-circle"></mdb-icon>
                                    </a>
                                </mdb-col>
                            </mdb-row>
                        </template>
                        <template v-else>
                            <a href="javascript:" title="Edit provider" @click="provider.actions.edit.active = true">
                                <mdb-icon icon="edit"></mdb-icon>
                            </a>
                        </template>
                    </td>
                    <td class="align-middle">
                        <div v-if="provider.actions.remove.loading" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <a v-else-if="provider._id" href="javascript:" title="Delete provider" @click="deleteProvider(i)">
                            <mdb-icon icon="trash-alt"></mdb-icon>
                        </a>
                    </td>
                </tr>
                <tr v-if="!providerForms.length">
                    <td colspan="4">No providers yet</td>
                </tr>
            </mdb-tbl-body>
        </mdb-tbl>
    </div>
</template>

<script>
    import {mapState, mapMutations, mapActions} from 'vuex'
    import {findIndex} from 'lodash'
    import {
        mdbRow,
        mdbCol,
        mdbBtn,
        mdbIcon,
        mdbTbl,
        mdbTblBody,
        mdbInput,
    } from 'mdbvue'

    export default {
        name: 'Form',
        components: {
            mdbRow,
            mdbCol,
            mdbBtn,
            mdbIcon,
            mdbTbl,
            mdbTblBody,
            mdbInput,
        },
        computed: mapState({
            providers: state => state.providers.all,
            clientForm: state => state.clients.form,
            providerForms: state => state.providers.forms
        }),
        methods: {
            ...mapActions({
                actionSubmitProvider: 'providers/submitForm',
                actionDeleteProvider: 'providers/deleteForm'
            }),
            ...mapMutations({
                mutationToggleProviderInForm: 'clients/toggleProviderInForm',

                mutationAddToProviderForm: 'providers/addToProviderForm',
                mutationCancelForm: 'providers/cancelForm',
                mutationSetFormName: 'providers/setFormName',
            }),
            /**
             * Check if provider selected in client form
             * @param {Object} provider
             * @returns {Boolean}
             */
            isProviderChecked(provider) {
                return findIndex(this.clientForm.data.providers, {_id: provider._id}) !== -1
            },
            /**
             * Delete provider
             * @param {Number} form_index
             */
            deleteProvider(form_index) {
                if (confirm(`Do you want to delete provider "${this.providerForms[form_index].name}"?`)) {
                    this.actionDeleteProvider(form_index)
                }
            }
        }
    }
</script>
